<div class="row">
    <div class="col-md-5">
       <div class="panel panel-default">
          <div class="panel-heading">
             <div class="row pad-left-right">
                <span class="title pull-left">Logs</span>
             </div>
          </div>
          <div class="panel-body">
             <div class="row">
                <div class="col-xs-12" *ngFor="let log of logs">
                   <gritgrid-log-item [log]="log"></gritgrid-log-item>
                </div>
             </div>
          </div>
          <div class="panel-footer">
             <gritgrid-log-edit (addLogEvent)="onAddLog($event)"></gritgrid-log-edit>
          </div>
       </div>
    </div>
 </div>