<div class="workout-page-container">
  <div class="workout-header">
    <input 
      type="text" 
      placeholder="Search workouts..." 
      (input)="search($event.target.value)" 
      class="form-control" />
    <a class="btn btn-success" [routerLink]="['/workouts/new']">New Workout</a>
  </div>

  <div class="workout-main">
    <!-- Workout list as cards -->
    <div class="workout-cards">
      <gritgrid-workout-item
        *ngFor="let workout of workouts | workoutsFilter: term"
        [workout]="workout"
        [routerLink]="[workout._id]">
      </gritgrid-workout-item>
    </div>
  </div>
</div>
