<div class="panel panel-default">
  <!-- Header with title + add button -->
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Workouts</span>
      <a class="btn btn-success pull-right" routerLink="/workouts/new">Add Workout</a>
    </div>

    <!-- Search bar -->
    <div class="row pad-left-right" style="margin-top: 10px;">
      <div class="input-group col-xs-12">
        <input
          #searchBox
          type="text"
          class="form-control"
          placeholder="Search for a workout..."
          (keyup)="search(searchBox.value)" />
        <div class="input-group-addon glyphicon glyphicon-search" (click)="search(searchBox.value)"></div>
      </div>
    </div>
  </div>

  <div class="workout-main">
    <div class="workout-cards">
      <gritgrid-workout-item class="workout-card"
        *ngFor="let workout of workouts | workoutsFilter: term"
        [workout]="workout"
        [routerLink]="[workout._id]">
      </gritgrid-workout-item>
    </div>
  </div>
</div>
