<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="panel-title">{{ contact.name }}</h3>
        </div>
        <div class="col-xs-4 text-right">
          <img 
            [src]="contact.imageUrl" 
            alt="{{ contact.name }}" 
            class="img-thumbnail"
            style="max-height: 50px;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
          <button class="btn btn-primary float-right" [routerLink]="['edit']">Edit</button>
          <button class="btn btn-danger float-right" style="margin-left: 5px;" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  
    <div class="panel-body">
      <p><strong>Email:</strong> {{ contact.email }}</p>
      <p><strong>Phone:</strong> {{ contact.phone }}</p>
    </div>
  </div>
  