<div class="panel panel-default">
  <!-- Header with title + add button -->
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Recipes</span>
      <a class="btn btn-success pull-right" routerLink="/recipes/new">Add Recipe</a>
    </div>

    <!-- Search bar -->
    <div class="row pad-left-right" style="margin-top: 10px;">
      <div class="input-group col-xs-12">
        <input
          #searchBox
          type="text"
          class="form-control"
          placeholder="Search for a recipe..."
          (keyup)="search(searchBox.value)" />
        <div class="input-group-addon glyphicon glyphicon-search" (click)="search(searchBox.value)"></div>
      </div>
    </div>
  </div>

  <!-- FLEX Recipe Grid -->
  <div class="panel-body">
    <div class="recipe-cards">
      <gritgrid-recipe-item
        *ngFor="let recipe of recipes | recipesFilter: term"
        [recipe]="recipe"
        [routerLink]="[recipe._id]">
      </gritgrid-recipe-item>
    </div>
  </div>
</div>

