<div class="panel panel-default">
    <!-- Panel Header -->
    <div class="panel-heading">
        <h3 class="panel-title">Contacts</h3>
        <button class="btn btn-success float-right">New Contact</button>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
        <div class="row">
            <!-- Iterate over contacts and display each one -->
            <cms-contact-item
                *ngFor="let contact of contacts"
                [contact]="contact"
                (click)="onSelected(contact)">
            </cms-contact-item>
        </div>
    </div>
</div>
