<div class="panel panel-default">
    <!-- Panel Header -->
    <div class="panel-heading">
        <h3 class="panel-title">Contacts</h3>
        <button class="btn btn-success float-right">New Contact</button>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
        <div class="row">
            <!-- Iterate over contacts and display each one -->
            <div class="col-xs-12" *ngFor="let contact of contacts">
                <a href="#" class="list-group-item clearfix">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                    </div>
                    <span class="pull-right">
                        <img
                            [src]="contact.imageUrl"
                            alt="{{ contact.name }}"
                            class="img-responsive"
                            style="max-height: 50px;">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
